openapi: '3.0.0'
info:
  version: 1.0.0
  title: InstaDP API
  license:
    name: MIT
servers:
  - url: https://api.instadp.com/v1
paths:
  /profiles:
    get:
      summary: List all available profiles
      operationId: listProfiles
      parameters:
        - name: limit
          in: query
          description: How many profiles to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of profiles
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profiles'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a profile search
      operationId: createProfileSearch
      responses:
        '201':
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /profiles/{profileId}:
    get:
      summary: Info for a specific profile
      operationId: showProfileById
      parameters:
        - name: profileId
          in: path
          required: true
          description: The id of the profile to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /images:
    get:
      summary: Retrieve images from profiles
      operationId: listImages
      parameters:
        - name: profileId
          in: query
          description: Filter images by profile ID
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Array of images
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Images'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Profile:
      required:
        - id
        - username
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        bio:
          type: string
        followers:
          type: integer
    Profiles:
      type: array
      items:
        $ref: '#/components/schemas/Profile'
    Image:
      required:
        - id
        - url
      properties:
        id:
          type: string
        url:
          type: string
        resolution:
          type: string
    Images:
      type: array
      items:
        $ref: '#/components/schemas/Image'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string